#planGrid {
	margin-bottom: 2em;
}

#planGrid .divider {
	margin-top: 0 !important;
}

#planGrid h2 {
	margin-bottom: 3px !important;
}

#mealList {
	margin-bottom: 1em;
}

#ingredientList input {
	margin-bottom: 5px;
}