/* Main Styling */
main {
	padding-top: 5em;
}

.img-container {
  position: relative;
  text-align: center;
  color: white;
}

.centered {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.centered p {
	font-size: 3.5em;
  	color: #2e443e;
}